
{% extends "plantilla.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
    {% with flash_messages = get_flashed_messages() %}
    {% if flash_messages %}
        {% for message in flash_messages %}
          <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}



    <div class="row justify-content-center mt-2">
        <form class="col-auto" name="loginform" id="loginform" action="/login" method="post">
            <div class="m-2">
                <label for="nombre" class="form-label">Nombre de usuario</label>
                <input type="text" name="nombre" id="nombre" size="20" value="{{nombre}}"  class="form-control">
            </div>
            <div class="m-2">
                <label for="password" class="form-label">Contrase&ntilde;a</label>
                <input type="password" name="password" id="password" value="{{clave}}" size="20" class="form-control">
            </div>
            <div class="m-2">
                <input type="submit" class="btn btn-primary btn-large ms-5" value="Acceder">
            </div>
           
        </form>
    </div>



{% endblock %}